# The HTC composite gadget requires usb_function_switch after FunctionFS is mounted.
on fs
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000

on property:sys.usb.config=adb
    write /sys/devices/platform/android_usb/usb_function_switch 3
    write /sys/class/android_usb/android0/f_adb/on 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=none
    write /sys/devices/platform/android_usb/usb_function_switch 0
    setprop sys.usb.state ${sys.usb.config}

on post-fs-data
    mkdir /data/vendor/radio 0770 radio radio
    mkdir /dev/socket/qmux_radio 0770 radio radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    mkdir /dev/socket/qmux_gps 0770 gps gps

on boot
    write /proc/sys/vm/swappiness 100
    write /proc/sys/vm/page-cluster 0
    write /sys/kernel/mm/ksm/run 0
